@media screen and (min-width: 768px) {
    .bandeau{
        grid-column: 1/4;  
    }
    #liencontact{
        grid-column: 2/3;
        grid-row: 5/7;
        justify-content: center;
        align-content: center;
    }
    #logo{
        grid-column: 2;
        grid-row: 7/9;
     }
    .mainGrid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap : 10px;
        grid-auto-rows: minmax(100px, auto);
        justify-content: center;
        align-content: center;
    }
    #newItem{
        grid-row: 5/9;
        grid-column: 1;
        background-color: transparent;

    }
    #process{    
        grid-row: 1/5;
        background-image: url('../assets/bgprocess.png');
    }
    #promos{
        grid-column: 3/4;
        grid-row: 5/9;
        background-color: transparent;
    }
    .navbar{
        margin-bottom: 0!important;
    }
}

/* Mobile RESPONSIVE */


@media only screen and (max-width:767px){
    #carouselExampleIndicators{
        display: none;  
    }
    #contact{
        background-color: brown;
    }
    html{
        height: 100%;
    }
    #namesite{
        display: none!important;
    }
    #liencontact{
        order: 4;
        justify-content: center;
        align-content: center;
        padding-top: 20px;
    }
    #logo{
        order: 5;
    }
    .mainGrid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    #newItem{
        order: 2;       
    }
    #process{                    
        order: 1;   
    }
    #promos{   
        order: 3;
        background-image:url("http://localhost/ppe-site/assets/promo.png");
    }
}

/*GENERAL STYLE */

.bg-img{
    background-position: center;
    background-repeat: no-repeat;
}
.bg-img img{
    max-width: 100%;
    height: auto;
    width: auto;  
}
.bg-blk{
    background-color: #212529;
}
.carousel-indicators li{
    background-color: #C5D486!important;
}