#loginbox{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}
#loginbox form{
    display: flex;
    flex-direction: column; 
}
#mainForm{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
}
#mainForm div{
    padding: 20px;
    text-align: center;
    background-color: #2b2e31;

}
#registerform{
    display:flex;
    flex-direction:row;
    align-items: flex-end;    
}
#blackspace{
    display:none;
}
@media screen and (max-width:767px){
    #mainForm{
        display: flex;
        flex-direction: column;
    }
    /*#registerbox{
    }*/
    #registerform{
        align-items: center;
        flex-direction: column;
    }
    #blackspace{
        display:block;
        background-color: #212529!important;
    }
    
}