#QSN{
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: bisque;
}

.texte{
    display: flex;
    text-align: center;
}
